body {
    color: #58402c;
    font-family: $font_family;
    font-size: $body-font-size;
}

.container {
    width: 60%;
    margin: 0 auto;
    @include my-flex(row, space-between, center);
}

%my-notation {
    text-align: center;
    max-width: 630px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

%my-quote {
    display: block;
    width: 37px;
    height: 39px;
    position: absolute;
    top: -23px;
    left: -1px;
    z-index: 1;
}

%my-signUp {
    .btn-sign-up {
        @include btn-base($btn-lg-padding);
        background-color: $btn-bg;
        color: white;
        text-decoration: none;

        &:hover {
            background-color: darken($btn-bg, 12%);
        }
    }
}
