/* start first section */
section {
    padding: $padding-section;
    @include my-flex(row, space-between, stretch);

    .first-section-left {
        width: 45%;

        font-weight: 400;

        h1 {
            margin-top: 0;
            font-size: $title-font-size;
            line-height: 4.5rem;
        }
        p {
            margin-top: 0;
            font-size: $p-font-size;
            line-height: 2.5rem;
        }
        .sign-up {
            @include my-flex(row, space-between, center);
            padding-right: 80px;
            margin-bottom: 20px;

            .btn-sign-up {
                @include btn-base($btn-lg-padding);
                background-color: $btn-bg;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: darken($btn-bg, 12%);
                }
            }
        }

        .mail {
            cursor: pointer;
            text-decoration: none;
        }
    }
    .first-section-right {
        width: 50%;
        img {
            width: 100%;
        }
    }
}

/*end first section*/

/* orange section */
section.orange {
    background-color: $bg-orange-section;
    .section-wrapper {
        border-bottom: $my-border-bottom;
        padding-bottom: 100px;
    }

    h2 {
        text-align: center;
        font-size: 30px;
        width: 60%;
        margin: auto;
    }
    .section-center {
        @include my-flex(row, space-around, baseline);
        padding: 20px 50px;
        text-align: center;
        margin-bottom: 70px;

        img {
            width: $section-image-width;
            margin: 20px 0;
        }

        p {
            font-size: 20px;
            width: 80%;
            margin: auto;
        }
    }

    .section-bottom {
        text-align: center;

        img {
            width: $section-image-width + 180px;
        }
    }
}

/*orange-bottom*/
section.orange-bottom {
    @extend .orange;
    padding-top: 0;
    .section-wrapper {
        border-bottom: 0;

        h2 {
            padding-top: 50px;
            font-size: 28px;
        }

        .third {
            img {
                width: 60px;
            }
        }
    }
}

/*start feedback section */
.feedback {
    .img-container {
        width: 50%;
        float: left;
        padding: 30px;

        img {
            max-width: 768px;
            float: right;
        }
    }

    .explanation {
        width: 50%;
        float: left;

        .wrapper-communication {
            max-width: 420px;
            margin-bottom: 35px;

            h3 {
                font-size: $h3-font-size;
                line-height: $h3-line-heigth;
            }

            p {
                font-size: $p-font-size;
                line-height: $p-line-heigth;
            }

            a {
                color: #30488f;
                text-decoration: none;
                font-size: $a-font-size;
            }

            img {
                margin-top: 40px;
                max-width: 270px;
                margin-left: 80px;
            }
        }
    }
}

/*start survey section */

.survey {
    @extend .feedback;
    .img-container {
        img {
            float: left;
        }
    }

    .wrapper-communication {
        float: right;
    }
}

/* start reviews section */

.reviews {
    @extend .feedback;
}

/*start praise section*/

.praise {
    @extend .survey;
}

/*start get-started section*/

.get-started {
    background-color: $bg-orange-section;
    display: block;
    text-align: center;
    h3 {
        font-size: $h3-font-size;
        line-height: $h3-line-heigth;
    }

    .notation {
        @extend %my-notation;
        p {
            font-size: $p-font-size - 7px;
            line-height: $p-line-heigth - 0.3rem;
            text-align: left;

            br {
                margin-bottom: 50px;
            }
        }

        .notation-bottom {
            @include my-flex(row, flex-start, center);

            .photos {
                img:nth-child(2) {
                    margin-left: 12px;
                }
            }

            .description {
                margin-left: 20px;
                @include my-flex(column, space-between, flex-start);

                .authors {
                    color: #30488f;
                    margin-bottom: 5px;
                    font-size: larger;
                }
            }
        }
    }
}
