@mixin my-flex($dir, $just, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin btn-base($pad) {
    border: 1px solid blue;
    border-radius: 5px;
    padding: $pad;
}
