$btn-padding: 7px 10px;
$btn-lg-padding: 8px 30px;
$btn-bg: #30488f;
$font_family: "Ubuntu", sans-serif;
$body-font-size: 13px;
$padding-section: 100px 0;
$title-font-size: 50px;
$p-font-size: 22px;
$bg-orange-section: #ffe7d2;
$section-image-width: 150px;
