$font_family: "Ubuntu", sans-serif;

// COLORS
$btn-bg: #30488f;
$bg-orange-section: #ffe7d2;
$my-border-bottom: 1px solid rgba(0, 0, 0, 0.247);

// MEASURES
$section-image-width: 150px;
$body-font-size: 13px;
$p-font-size: 22px;
$p-line-heigth: 2rem;
$title-font-size: 50px;
$h3-font-size: 26px;
$h3-line-heigth: 2.5rem;
$a-font-size: 1.5rem;
//LAYOUT
$padding-section: 80px 0;
$btn-padding: 7px 10px;
$btn-lg-padding: 8px 30px;
